{% include 'header.html' %}

<table align="center">
  <tr>
    <td style="width: 50%">
      <h1><a href="/" style="text-decoration:none">Hour of Crossy Code</a></h1>
    </td>
    <td style="width: 30%">
      <div id="levelNavigator"></div>
    </td>
    <td style="width: 20%">
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#copyrightModal">Copyright</button>
    </td>
  </tr>
</table>
<div container="fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Congratulations!</h3>
      <h5>You finished the Hour of Code.</h5>
      <p>We'll be updating this lesson in a few days with new levels (such as creating your very own Crossy game), so check back soon.</p>
      <p>Click the button below to receive your <strong>own, printable certificate</strong> and to finish this lesson.</p>
      <button id="certificate" class="btn btn-success" onclick="getCertificate()">Finish</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/level.js') }}"></script>

<script>
// Redirect user to certificate page
var getCertificate = function() {
  window.location.href = 'https://code.org/api/hour/finish';
};
</script>

{% include 'footer.html' %}